// Colors
$brown-1: #BD871F;
$brown-2: #e29344;
$brown-light: #FFF8EC;
$white: #fffefc;
$gray: #f0f0f0;
$gray-2: #7e7e7e;
$black: #402E32;
$green-1: #00A97A;
$green-2: #0b744b;

$gradient-green-1: linear-gradient(to right top, #00a97a, #44ab86, #65ae92, #80af9d, #99b0a7);

// Font Sizes
$fs-h1: 4.8rem;
$fs-h2: 4.0rem;
$fs-h3: 3.3rem;
$fs-h4: 2.8rem;
$fs-h5: 2.3rem;
$fs-h6: 1.9rem;
$fs-base: 1.6rem;
$fs-caption: 1.3rem;

// Font Weight
$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 700;
$fw-xtrabold: 800;

//Breakpoints
$bp-laptop: 76.875em; //1230px
$bp-tablet: 48em; //768px