.navbar{
    height: 8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5rem;
    border-bottom: 1px solid rgba($black, 0.2);

    &__left{
        font-size: $fs-h6;
    }

    &__right{

    }

    &__input{

    }
}