.navbar{
    height: 8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5rem;
    border-bottom: 1px solid rgba($black, 0.2);

    @media only screen and (max-width: $bp-tablet) {
        flex-direction: column;
        height: 15rem;
        justify-content: center;
    }

    &__left{
        display: flex;
        align-items: center;

        &--imgContainer{
            width: 8rem;
        }
        
        &--img{
            display: block;
            width: 100%;
        }
    }
    
    &__input{
        height: 3.55rem;
        padding: 1rem 2rem;
        border: none;
        font-family: inherit;
        color: inherit;
        border-radius: 0.5rem;
        flex: 1;

        &:focus{
            // outline: $brown-2;
            outline-color: $brown-2;
            font-weight: $fw-medium;
        }
    }

    &__btnexit{
        background-color: $brown-2;
    }
}