.receipt{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $white;
    border: 1px solid $gray-2;
    border-radius: 5px;

    &>*:not(:last-child){
        margin-bottom: 1rem;
    }

    &__cartContainer{
        width: 60%;
        display: grid;

        &>*{
            margin-bottom: 0.5rem;
            flex: 1;
        }
    }

    &__datetime{
        font-size: $fs-caption;
        color: $gray-2;
    }

    &__itemprice{
        display: flex;
        justify-content: space-between;
    }

    &__detailsContainer{
        width: 50%;

        &>*:not(:last-child){
            margin-bottom: 1rem;
        }
    }

    &__totalitems,
    &__totalprice,
    &__cashamount,
    &__cashchange{
        
        display: flex;
        flex: 1;
        justify-content: space-between;
        font-weight: $fw-medium;
    }
}