.margin-default{
    margin: 5rem 10rem;

    @media only screen and (max-width: $bp-tablet) {
        margin: 5rem 2rem;
         
     }

     //862px
     @media only screen and (max-width: 53.875em) {
        margin: 5rem;
     }
}